.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  /*height: 150px;
  padding: 20px;*/
  color: white;
}

.App-intro {
  font-size: large;
}

.dictionary-form {
  text-align: center;
  margin-top: 2%;
  margin-bottom: 2%;
}

.searchBox {
  margin-right: 0.7%;
}

.btn-default {
  margin-right: 2%;
}

.back {
  padding-top: 2%;
  text-align: center;
  text-decoration-color: white;
}

.jumbotron {
  padding-top: 0.5%;
  padding-bottom: 0.5%;
  padding-left: 20%;
  padding-right: 20%;
}

.list-group {
  text-align: left;
}

.list-group-item {
  margin-right: 70%;
}

.table-responsive {
  margin-left: 10%;
  margin-right: 10%;
}

.btn-default {
  margin-top: 5%;
}

.btn-primary {
  width: 30%;
  margin-left: 35%;
  margin-right: 35%;
  margin-bottom: 3%;
}

.btn-next-word {
  margin-top: 2%;
  margin-bottom: 2%;
}

.user-info {
  padding-left: 0;
  padding-right: 0;
  text-align: left;
}

.user-detail {
  float: left;
  margin-left: 3%;
  width: 50%;
}

h2 {
  font-family: 'Indie Flower', cursive;
  text-align: left;
}

th, tr {
  text-align: center;
}

body {
  font-size: 18px;
  text-align: center;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
